//--------------Banner single-------------------
include ../../mixins/button.pug
.banner__single
    .container
        .row.align-items-center.flex-row-reverse
            .col-md-6.offset-md-1
                .banner__single-text
                    .heading__single
                        span New season trends!
                        h2 Best Summer Collection
                    h5 Sale Get up to 50% Off
                    +button_shop
            .col-md-5.text-center.banner__single-img
                img(src="images/home/banner_single/tranding_img.png" alt="")
