include ../../mixins/product-item.pug
.featured__product
    .container
        .row.justify-content-center
            .col-md-6
                .heading-s1.text-center
                    h2 Featured Products
        .row
            .col-md-12
                .owl-carousel.owl-theme.featured__product-style
                    +product-item('display:none','new','images/home/banner_single/product_img1.jpg','Woman Full Sliv Dress','68.00$','width:86%')
                    +product-item('display:none','new','images/home/banner_single/product_img2.jpg','Woman Full Sliv Dress','68.00$','width:86%')
                    +product-item('display:none','new','images/home/banner_single/product_img3.jpg','Woman Full Sliv Dress','68.00$','width:86%')
                    +product-item('display:none','new','images/home/banner_single/product_img4.jpg','Woman Full Sliv Dress','68.00$','width:86%')
                    +product-item('display:none','new','images/home/banner_single/product_img5.jpg','Woman Full Sliv Dress','68.00$','width:86%')




