.testimonial.section.bg_redon
    .container
        .row.justify-content-center
            .col-md-6
                .heading-s1.text-center
                    h2 Our Client Say!
        .row.justify-content-center
            .col-lg-9
                .testimonial__wrap.testimonial__style1.owl-carousel.owl-them
                    .testimonial__box
                        .testimonial__box-text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                        .testimonial__box-author
                            .author__img
                                img(src="images/our-client/user_img1.jpg", alt="")
                            .author__name
                                h6 Alden Smith
                                span Design
                    .testimonial__box
                        .testimonial__box-text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                        .testimonial__box-author
                            .author__img
                                img(src="images/our-client/user_img2.jpg", alt="")
                            .author__name
                                h6 Alden Smith
                                span Design
                    .testimonial__box
                        .testimonial__box-text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                        .testimonial__box-author
                            .author__img
                                img(src="images/our-client/user_img3.jpg", alt="")
                            .author__name
                                h6 Alden Smith
                                span Design
                    .testimonial__box
                        .testimonial__box-text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                        .testimonial__box-author
                            .author__img
                                img(src="images/our-client/user_img4.jpg", alt="")
                            .author__name
                                h6 Alden Smith
                                span Design
                