.breadcrumb
    .container
        .breadcrumb__item
            .row.a-center
                .col-md-6.col-sm12
                    .breadcrumb__item-title
                        h1 Shop List
                .col-md-6.col-sm-12
                    ul.breadcrumb__item-list
                        li.list-item__box
                            a(href="") Home
                            ion-icon(name="chevron-forward-outline")                        
                        li.list-item__box
                            a(href="") Pages
                            ion-icon(name="chevron-forward-outline")
                        li.list-item__box.cl-6c757d
                            span About

