extends master.pug

block content
  include ./components/Home/banner.pug
  include ./components/Home/arrival-product.pug
  include ./components/Home/banner-single.pug
  include ./components/Home/featured-product.pug
  include ./components/Home/our-client.pug
  include ./components/Home/shop-info.pug
