#Compare.modal.fade
    .modal-dialog.modal-dialog-centered
        .modal-content
            .ready-compare
            .compare
                .container
                    .content
                        .content__box
                            .table-responsive
                                table.table-responsive__border
                                    tbody.table  
                                        tr.table__images
                                            td.images-title Product Image
                                            td.images
                                                img(src="/images/layout/product_img1.jpg", alt="")
                                            td.images
                                                img(src="/images/layout/product_img2.jpg", alt="")
                                            td.images
                                                img(src="/images/layout/product_img3.jpg", alt="")        
                                        tr.table__title
                                            td.title-text Product Name
                                            td.title-product 
                                                a(href="#") Blue Dress For Woman
                                            td.title-product 
                                                a(href="#") Blue Dress For Woman
                                            td.title-product 
                                                a(href="#") Blue Dress For Woman        
                                        tr.table__price
                                            td.price-title Price
                                            td.price-number
                                                span.price $45.00
                                            td.price-number
                                                span.price $45.00
                                            td.price-number
                                                span.price $45.00        
                                        tr.table__rating
                                            td.rating-title Rating
                                            td 
                                                .rating-wrap
                                                    .rating
                                                        .product-rate
                                                    .rate-number  (21)
                                            td 
                                                .rating-wrap
                                                    .rating
                                                        .product-rate
                                                    .rate-number  (21)
                                            td 
                                                .rating-wrap
                                                    .rating
                                                        .product-rate
                                                    .rate-number  (21)    
                                        tr.table__add-to-cart
                                            td.add-title Add To Cart
                                            td.add-btn 
                                                a(href="#") 
                                                    i.fas.fa-shopping-cart 
                                                    |  Add To Cart  
                                            td.add-btn 
                                                a(href="#") 
                                                    i.fas.fa-shopping-cart 
                                                    |  Add To Cart   
                                            td.add-btn 
                                                a(href="#") 
                                                    i.fas.fa-shopping-cart 
                                                    |  Add To Cart                                                   
                                        tr.description
                                            td.description__title Description
                                            td.description__text
                                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
                                            td.description__text
                                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
                                            td.description__text
                                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and         
                                        tr.table__color
                                            td.color-title Color
                                            td.color 
                                                .product_color_switch
                                                    .color1
                                                    .color2
                                                    .color3
                                            td.color 
                                                .product_color_switch
                                                    .color1
                                                    .color2
                                                    .color3
                                            td.color 
                                                .product_color_switch
                                                    .color1
                                                    .color2
                                                    .color3                
                                        tr.table__size
                                            td.size-title Sizes Available
                                            td.size-text 
                                                span S, M, L, XL
                                            td.size-text 
                                                span S, M, L, XL
                                            td.size-text 
                                                span S, M, L, XL        
                                        tr.table__stock
                                            td.stock-title Item Availability
                                            td.stock-text 
                                                span In Stock
                                            td.stock-text 
                                                span In Stock
                                            td.stock-text 
                                                span In Stock        
                                        tr.table__weight
                                            td.weigth-title Weight
                                            td.weigth-text 
                                            td.weigth-text 
                                            td.weigth-text   
                                        tr.table__dimension
                                            td.dimension-title Dimensions
                                            td.dimension-text N/A
                                            td.dimension-text N/A
                                            td.dimension-text N/A
                                        tr.table__remove
                                            td.dimesion-title
                                            td.dimension-btn
                                                a(href="#")
                                                    span Remove
                                                    i.fa.fa-times
                                            td.dimension-btn
                                                a(href="#")
                                                    span Remove
                                                    i.fa.fa-times
                                            td.dimension-btn
                                                a(href="#")
                                                    span Remove
                                                    i.fa.fa-times                
                            button(data-dismiss="modal" aria-label="close") x                       