.subcribe
  .container
    .subcribe__box
      .box-title
        h3.box-title__text Subscribe Our Newsletter
      .box-form
        .box-form__title 
          input(type="text" placeholder="Enter Email Address")  
          .button
            .button__fullbox  Subscribe
.footer
  .footer__top
    .container
      .row
        .col-lg-3.col-md-6.col-sm-12
          .widget
            .widget__logo
              a(href="#") 
                img(src="/images/layout/logo_light.png", alt="")
            p If you are going to use of Lorem Ipsum need to be sure there isn't hidden of text
          .widget
            .social-icon
              .social-icon__fullbox  
                a(href="#")
                  i.fab.fa-facebook-f 
              .social-icon__fullbox  
                a(href="#")
                  i.fab.fa-twitter
              .social-icon__fullbox  
                a(href="#")
                  i.fab.fa-google
              .social-icon__fullbox  
                a(href="#")
                  i.fab.fa-youtube
              .social-icon__fullbox  
                a(href="#")
                  i.fab.fa-instagram              
        .col-lg-2.col-md-3.col-sm-6
          .widget
            h6.widget__title Useful Links
            ul.widget__text  
              li.link-text 
                a(href="#") About Us
              li.link-text 
                a(href="#") FAQ
              li.link-text 
                a(href="#") Location
              li.link-text 
                a(href="#") Affiliates
              li.link-text 
                a(href="#") Contact     
        .col-lg-2.col-md-3.col-sm-6
          .widget
            h6.widget__title Category
            ul.widget__text  
              li.link-text 
                a(href="#") Men
              li.link-text 
                a(href="#") Woman
              li.link-text 
                a(href="#") Kids
              li.link-text 
                a(href="#") Best Saller
              li.link-text 
                a(href="#") New Arrivals       
        .col-lg-2.col-md-6.col-sm-6
          .widget
            h6.widget__title My Account
            ul.widget__text  
              li.link-text 
                a(href="#") My Account
              li.link-text 
                a(href="#") Discount
              li.link-text 
                a(href="#") Returns
              li.link-text 
                a(href="#") Orders History
              li.link-text 
                a(href="#") Order Tracking      

        .col-lg-3.col-md-4.col-sm-6
          .widget
            h6.widget__title  Contact Info
            ul.contact-info
              li
                i.fas.fa-map-marker-alt
                p 123 Street, Old Trafford, New South London , UK  
              li
                i.far.fa-envelope
                a(href="mailto:info@sitename.com") info@sitename.com
              li
                i.fas.fa-mobile-alt
                p + 457 789 789 65   
             
  .footer__bottom
    .container
      .row
        .col-md-6
          p © 2020 All Rights Reserved by Bestwebcreator
        .col-md-6
          ul.bottom-list
            li.bottom-list__item  
              a(href="#")
                img(src="/images/layout/visa.png", alt="")
            li.bottom-list__item  
              a(href="#")
                img(src="/images/layout/discover.png", alt="")
            li.bottom-list__item  
              a(href="#")
                img(src="/images/layout/master_card.png", alt="")
            li.bottom-list__item  
              a(href="#")
                img(src="/images/layout/paypal.png", alt="")
            li.bottom-list__item  
              a(href="#")
                img(src="/images/layout/amarican_express.png", alt="")                

