// Top nav
.topnav
    .container
        .topnav__logo
            .topnav__logo-icon
                ul.icon__list
                    li.icon__list-item
                        a(href="") 
                            img(src="images/header/eng.png" alt="")
                        span English
                        button.button-bottom    
                            <i class="fas fa-angle-down"></i>

                    .icon__list-none
                        li.icon__list-item
                            a(href="") 
                                img(src="images/header/eng.png" alt="")
                            span English

                        li.icon__list-item
                            a(href="")
                                img(src="images/header/fn.png" alt="")
                            span Fance

                        li.icon__list-item
                            a(href="")
                                img(src="images/header/us.png" alt="")
                            span United States   

                ul.icon__curency
                    li.icon__curency-item.mright-16
                        span USD
                        button.button-curency
                            <i class="fas fa-angle-down"></i>
                    .icon__curency-none
                        li.icon__curency-item
                            span USD
                        li.icon__curency-item
                            span EUR
                        li.icon__curency-item
                            span GBR

                .icon__phone
                    <i class="fas fa-mobile-alt"></i>
                    span 123-456-7890

            .topnav__logo-account
                .logo-account__compare
                    a(href="")
                        <i class="fas fa-random"></i> Compare

                .logo-account__wishlist
                    a(href="")
                        <i class="far fa-heart"></i>Wishlist
                .logo-account__user
                    a(href="")
                        <i class="far fa-user"></i>Login
