.header 
    .container 
        .header__menu.d_flex
            a(href="#").header__menu-logo
                img(src="./images/layout/logo_light.png" class="logo__light" )
                img(src="./images/layout/logo_dark.png" class="logo__dark")
            .header__menu-button
                .bar-1
                .bar-2
                .bar-3        
            .header__menu-list
                ul.list__items
                    li.dropdown
                        .dropdown__toggle
                            a(class="text-up" href="#") Home
                            i.fas.fa-angle-down
                        .dropdown__menu#home
                            ul
                                li
                                    a(href="#").dropdown__menu-item.color-red Fashion 1
                                li
                                    a(href="#").dropdown__menu-item Fashion 2
                                li
                                    a(href="#").dropdown__menu-item Furniture 1
                                li
                                    a(href="#").dropdown__menu-item Furniture 2
                                li
                                    a(href="#").dropdown__menu-item Electronics 1
                                li
                                    a(href="#").dropdown__menu-item Electronics 2
                    li.dropdown
                        .dropdown__toggle
                            a(class="text-up " href="#") Pages
                            i.fas.fa-angle-down
                        .dropdown__menu#pages
                            ul
                                li
                                    a(href="#").dropdown__menu-item About Us
                                li
                                    a(href="#").dropdown__menu-item Contact Us
                                li
                                    a(href="#").dropdown__menu-item Faq
                                li
                                    a(href="#").dropdown__menu-item 404 Error Page
                                li
                                    a(href="#").dropdown__menu-item Login
                                li
                                    a(href="#").dropdown__menu-item Register
                                li 
                                    a(href="#").dropdown__menu-item Terms And Conditions
                    li.dropdown.dropdown__mega
                        .dropdown__toggle
                            a(class="text-up " href="#") Products
                            i.fas.fa-angle-down
                        .dropdown__menu#products
                            ul.menu__mega.row
                                li.menu__mega-link.col-lg-3
                                    ul
                                        li.dropdown-header Woman's
                                        li
                                            a(href="#").dropdown-item Vestibulum Sed
                                        li
                                            a(href="#").dropdown-item Donec Porttitor
                                        li
                                            a(href="#").dropdown-item Donec Vitae Facilisis
                                        li
                                            a(href="#").dropdown-item Vivamus In Tortor
                                li.menu__mega-link.col-lg-3
                                    ul
                                        li.dropdown-header Men's
                                        li
                                            a(href="#").dropdown-item Donec Vitae Ante Ante
                                        li
                                            a(href="#").dropdown-item Etiam Ac Rutrum
                                        li
                                            a(href="#").dropdown-item Quisque Condimentum
                                        li
                                            a(href="#").dropdown-item Curabitur Laoreet
                                        li
                                            a(href="#").dropdown-item Vivamus In Tortor
                                li.menu__mega-link.col-lg-3
                                    ul
                                        li.dropdown-header Kid's
                                        li
                                            a(href="#").dropdown-item Donec Vitae Facilisis
                                        li
                                            a(href="#").dropdown-item Quisque Condimentum
                                        li
                                            a(href="#").dropdown-item Etiam Ac Rutrum
                                        li
                                            a(href="#").dropdown-item Donec Vitae Ante Ante
                                        li
                                            a(href="#").dropdown-item Donec Porttitor
                                li.col-lg-3
                                    ul
                                        li.dropdown-header Accessories
                                        li
                                            a(href="#").dropdown-item Donec Vitae Facilisis
                                        li
                                            a(href="#").dropdown-item Quisque Condimentum
                                        li
                                            a(href="#").dropdown-item Etiam Ac Rutrum
                                        li
                                            a(href="#").dropdown-item Donec Vitae Ante Ante
                                        li
                                            a(href="#").dropdown-item Donec Porttitor
                            .dropdown__banner.row
                                .col-sm-4
                                    .dropdown__banner-header
                                    img(src="./images/layout/menu_banner1.jpg" alt="" )
                                    .banner__info
                                        h6 10% Off
                                        h4 New Arrival
                                        a(href="#") Shop Now 
                                .col-sm-4
                                    .dropdown__banner-header
                                    img(src="./images/layout/menu_banner2.jpg" alt="")      
                                    .banner__info
                                        h6 15% Off
                                        h4 Men's Fashion
                                        a(href="#") Shop Now
                                .col-sm-4
                                    .dropdown__banner-header
                                    img(src="./images/layout/menu_banner3.jpg" alt="")      
                                    .banner__info
                                        h6 15% Off
                                        h4 Men's Fashion
                                        a(href="#") Shop Now               
                    li.dropdown
                        .dropdown__toggle
                            a(href="#").text-up Blog
                            i.fas.fa-angle-down
                        .dropdown__menu#blog
                            ul
                                li
                                    .dropdown__menu-item
                                        a(href="#") Grids 
                                        i.fas.fa-angle-down
                                    .dropdown__menu-link
                                        ul
                                            li
                                                a(href="#").dropdown__menu-item 3 Columns
                                            li
                                                a(href="#").dropdown__menu-item 4 Colums
                                            li
                                                a(href="#").dropdown__menu-item Left Sidebar
                                            li
                                                a(href="#").dropdown__menu-item Right Sidebar
                                            li
                                                a(href="#").dropdown__menu-item Standard Left Sidebar
                                li
                                    .dropdown__menu-item
                                        a(href="#") Masonry
                                        i.fas.fa-angle-down   
                                    .dropdown__menu-link
                                        ul
                                            li
                                                a(href="#").dropdown__menu-item 3 Columns
                                            li
                                                a(href="#").dropdown__menu-item 4 Columns
                                            li
                                                a(href="#").dropdown__menu-item Left Sidebar
                                            li
                                                a(href="#").dropdown__menu-item Right Sidebar  
                                li
                                    .dropdown__menu-item
                                        a(href="#") Single Post
                                        i.fas.fa-angle-down
                                    .dropdown__menu-link
                                        ul
                                            li
                                                a(href="#").dropdown__menu-item Default
                                            li
                                                a(href="#").dropdown__menu-item Left Sidebar
                                            li
                                                a(href="#").dropdown__menu-item Slider Post
                                            li
                                                a(href="#").dropdown__menu-item Video Post
                                            li
                                                a(href="#").dropdown__menu-item Audio Post
                                li
                                    .dropdown__menu-item
                                        a(href="#") List
                                        i.fas.fa-angle-down
                                    .dropdown__menu-link
                                        ul
                                            li
                                                a(href="#").dropdown__menu-item Left Sidebar
                                            li
                                                a(href="#").dropdown__menu-item Right Sidebar
                    li.dropdown.dropdown__mega
                        .dropdown__toggle
                            a(href="#").text-up Shop
                            i.fas.fa-angle-down
                        .dropdown__menu#shop
                            ul.menu__mega.d-lg-flex
                                li.menu__mega-link.col-lg-9.border-0
                                    ul.d-lg-flex
                                        li.menu__mega-link.col-lg-4
                                            ul
                                                li.dropdown-header.text-up Shop page Layout
                                                li
                                                    a(href="#").dropdown-item Shop List View
                                                li
                                                    a(href="#").dropdown-item Shop List Left Sidebar
                                                li
                                                    a(href="#").dropdown-item Shop List Right Sidebar
                                                li
                                                    a(href="#").dropdown-item Left Sidebar
                                                li
                                                    a(href="#").dropdown-item Right Sidebar
                                                li
                                                    a(href="#").dropdown-item Shop Load More
                                        li.menu__mega-link.col-lg-4
                                            ul
                                                li.dropdown-header.text-up Other Pages
                                                li
                                                    a(href="#").dropdown-item Cart
                                                li
                                                    a(href="#").dropdown-item Checkout
                                                li
                                                    a(href="#").dropdown-item My Account
                                                li
                                                    a(href="#").dropdown-item Whishlist
                                                li
                                                    a(href="#").dropdown-item Compare
                                                li
                                                    a(href="#").dropdown-item Order Completed 
                                        li.menu__mega-link.col-lg-4
                                            ul
                                                li.dropdown-header.text-up Product Pages
                                                li
                                                    a(href="#").dropdown-item Default
                                                li
                                                    a(href="#").dropdown-item Left Sidebar
                                                li
                                                    a(href="#").dropdown-item Right Sidebar
                                                li
                                                    a(href="#").dropdown-item Thumbnails Left                                   
                                li.menu__mega-link.col-lg-3
                                    .dropdown__banner-content
                                        .banner__img
                                            img(src="./images/layout/shop_banner.jpg" alt="")
                                            .shop__content
                                                h5.text-up New Collection
                                                h3.text-up Sale 30% Off
                                                a(href="#").btn.text-up Shop Now
                    li.dropdown
                        .dropdown__toggle
                            a(href="#").text-up Contact US 
            ul.header__menu-nav
                li
                    a.nav-link.search_trigger(href='#')
                        i.fas.fa-search
                    .search_wrap
                        span.close-search
                            ion-icon(name='close-outline')
                        form
                            input#search_input.form-control(type='text' placeholder='Search')
                            button.search_icon(type='submit')
                                ion-icon(name='search-outline')
                    .search_overlay
                    .search_overlay
                    .search_overlay
                li.nav__cart
                    a.nav__cart-trigger
                        i.fas.fa-shopping-cart
                        span.card-cout 2
                        .nav__card-box
                    .nav__cart-box
                        ul.cart__list
                            li
                                a.cart__list-remove
                                    i.fas.fa-times
                                a.cart__list-img
                                    img(src="./images/layout/cart_thamb1.jpg")
                                .cart__list-quantity
                                    p Variable Product 001 
                                    span 1 x $78.00
                            li
                                a.cart__list-remove
                                    i.fas.fa-times
                                a.cart__list-img
                                    img(src="./images/layout/cart_thamb2.jpg")
                                .cart__list-quantity
                                    p Ornare Sed Consequat
                                    span 1 x $81.00

                        .cart__footer
                            .cart__footer-total
                                strong Subtotal:   
                                span $159.00
                            .cart__footer-button
                                a(href="#").view-cart View Cart
                                a(href="#").checkout  Checkout





