<!-- START SECTION SHOP -->
.shop.section
    .container
        .row
            .col-12
                .row.align-items-center.mb-4.pb-1
                    .col-12
                        .shop__header
                            .shop__header-left
                                .custom__select
                                    select(name="").form-control.form-control-sm
                                        option(value="") Default sorting
                                        option(value="") Sort by popularity
                                        option(value="") Sort by newness
                                        option(value="") Sort by price: low to high
                                        option(value="") Sort by price: high to low
                            .shop__header-right
                                .right__view
                                    a.right__view-icon.grid.active
                                        i.fas.fa-th-large  
                                    a.right__view-icon.list
                                        i.fas.fa-align-left 
                                .custom__select 
                                    select(name="").form-control.form-control-sm.first_null.not_chosen
                                        option(value="") Showing             
                                        option(value="") 9             
                                        option(value="") 12             
                                        option(value="") 18  
                .row.shop-container
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img1.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#") 
                                                i.fas.fa-shopping-cart 
                                                span Add To Cart
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $45.00
                                    del $55.25
                                    .info__price-sale
                                        span 35% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:80%")
                                    span.rating_num (21)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img2.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#") Add To Cart
                                                i.fas.fa-shopping-cart 
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="#")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $55.00
                                    del $95.00
                                    .info__price-sale
                                        span 25% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:68%")
                                    span.rating_num (15)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart 
                                        li
                                            a(href="")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            span.pr__flash New
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img3.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#")
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart 
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $68.00
                                    del $99.00
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:87%")
                                    span.rating_num (25)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#7C502F" style="background-color: rgb(124, 80, 47);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="#")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img4.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $69.00
                                    del $89.00
                                    .info__price-sale
                                        span 20% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:68%")
                                    span.rating_num (22)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img5.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $45.00
                                    del $50.00
                                    .info__price-sale
                                        span 25% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:68%")
                                    span.rating_num (15)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="#")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            span.pr__flash.bg-danger HOT
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img6.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#")
                                                i.fas.fa-shopping-cart
                                                | Add To Cart
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $55.00
                                    del $95.00
                                    .info__price-sale
                                        span 25% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:68%")
                                    span.rating_num (15)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="")
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            span.pr__flash.bg-success SALE
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img7.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $55.00
                                    del $95.00
                                    .info__price-sale
                                        span 25% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:68%")
                                    span.rating_num (15)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img8.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#") 
                                                i.fas.fa-shopping-cart
                                                | Add To Cart 
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $55.00
                                    del $95.00
                                    .info__price-sale
                                        span 25% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:68%")
                                    span.rating_num (15)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img9.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $55.00
                                    del $95.00
                                    .info__price-sale
                                        span 25% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:68%")
                                    span.rating_num (15)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            span.pr__flash.bg-danger HOT
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img10.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $55.00
                                    del $95.00
                                    .info__price-sale
                                        span 25% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:68%")
                                    span.rating_num (15)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart
                                                | Add To Cart 
                                        li
                                            a(href="")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img11.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#") 
                                                i.fas.fa-shopping-cart
                                                | Add To Cart 
                                        li
                                            a(href="" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $55.00
                                    del $95.00
                                    .info__price-sale
                                        span 25% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:68%")
                                    span.rating_num (15)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart                    
                    .col-lg-3.col-md-4.col-6 
                        .shop__product
                            span.pr__flash.bg-success SALE
                            .shop__product-img
                                a(href="")
                                    img(src="images/product-img/product_img12.jpg" alt="")
                                .img__action
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="#")
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="#" data-toggle="modal" data-target="#Compare")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                            .shop__product-info
                                h6.info__title Blue Dress For Woman
                                .info__price 
                                    span.price $55.00
                                    del $95.00
                                    .info__price-sale
                                        span 25% Off
                                .info__rating
                                    .rating
                                        .info__rating-rate(style="width:68%")
                                    span.rating_num (15)
                                .info__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                                .info__switch   
                                    .info__switch-color
                                        span.active(data-color="#87554B" style="background-color: rgb(135, 85, 75);")
                                        span(data-color="#333333" style="background-color: rgb(51, 51, 51);")
                                        span(data-color="#DA323F" style="background-color: rgb(218, 50, 63);")
                                .info__list 
                                    ul.img__action-list.pr_action_btn
                                        li.add-to-cart
                                            a(href="") 
                                                i.fas.fa-shopping-cart 
                                                | Add To Cart
                                        li
                                            a(href="")
                                                i.fas.fa-random
                                        li
                                            a(href="#" data-toggle="modal" data-target="#modal__product-1")
                                                i.fas.fa-search-plus
                                        li
                                            a(href="")
                                                i.far.fa-heart
                .row
                    .col-12
                        ul.pagination.mt-3.justify-content-center.pagination__style1
                            li.pagination__item.active
                                a(href="").pagination__item-link 1
                            li.pagination__item
                                a(href="").pagination__item-link 2
                            li.pagination__item
                                a(href="").pagination__item-link 3
                            li.pagination__item
                                a(href="").pagination__item-link 
                                    i.fas.fa-arrow-right



<!-- END SECTION SHOP -->